In [1]:
import numpy as np
import pandas as pd

In [2]:
s=pd.Series([1,3,5,np.nan,8,6])

In [3]:
s

0    1.0
1    3.0
2    5.0
3    NaN
4    8.0
5    6.0
dtype: float64

In [4]:
dates=pd.date_range("20130101",periods=8)

In [5]:
dates

DatetimeIndex(['2013-01-01', '2013-01-02', '2013-01-03', '2013-01-04',
               '2013-01-05', '2013-01-06', '2013-01-07', '2013-01-08'],
              dtype='datetime64[ns]', freq='D')

In [6]:
df=pd.DataFrame(np.random.randn(8,4),index=dates,columns=list('ABCD'))

In [7]:
df

                   A         B         C         D
2013-01-01 -0.588072 -1.012973  0.984102  0.512248
2013-01-02  0.172907  0.332348  0.193680  0.049164
2013-01-03 -1.737992  1.507265  0.037792 -0.429306
2013-01-04  0.572943  0.704393 -0.028451  0.408363
2013-01-05 -0.653701  0.413298  0.958180  1.163793
2013-01-06  0.312688  0.072765  0.918173  0.860850
2013-01-07 -0.861207 -0.813468 -0.961191 -0.158179
2013-01-08 -2.673736 -0.778030 -0.756092  0.050116

In [8]:
df.head(3)

                   A         B         C         D
2013-01-01 -0.588072 -1.012973  0.984102  0.512248
2013-01-02  0.172907  0.332348  0.193680  0.049164
2013-01-03 -1.737992  1.507265  0.037792 -0.429306

In [9]:
df.tail(3)

                   A         B         C         D
2013-01-06  0.312688  0.072765  0.918173  0.860850
2013-01-07 -0.861207 -0.813468 -0.961191 -0.158179
2013-01-08 -2.673736 -0.778030 -0.756092  0.050116

In [10]:
df1=pd.DataFrame({
    "A":1.0,
    "B":pd.Timestamp("20130201"),
    "C":pd.Series(1,index=list(range(4)),dtype='float32'),
    "D":np.array([3]*4),
    "E":pd.Categorical(['test','train','test','train']),
    "F":'foo'
})

In [11]:
df1

     A          B    C  D      E    F
0  1.0 2013-02-01  1.0  3   test  foo
1  1.0 2013-02-01  1.0  3  train  foo
2  1.0 2013-02-01  1.0  3   test  foo
3  1.0 2013-02-01  1.0  3  train  foo

In [12]:
df1.dtypes

A           float64
B    datetime64[ns]
C           float32
D             int32
E          category
F            object
dtype: object

In [13]:
df.index

DatetimeIndex(['2013-01-01', '2013-01-02', '2013-01-03', '2013-01-04',
               '2013-01-05', '2013-01-06', '2013-01-07', '2013-01-08'],
              dtype='datetime64[ns]', freq='D')

In [14]:
df.columns

Index(['A', 'B', 'C', 'D'], dtype='object')

In [15]:
df

                   A         B         C         D
2013-01-01 -0.588072 -1.012973  0.984102  0.512248
2013-01-02  0.172907  0.332348  0.193680  0.049164
2013-01-03 -1.737992  1.507265  0.037792 -0.429306
2013-01-04  0.572943  0.704393 -0.028451  0.408363
2013-01-05 -0.653701  0.413298  0.958180  1.163793
2013-01-06  0.312688  0.072765  0.918173  0.860850
2013-01-07 -0.861207 -0.813468 -0.961191 -0.158179
2013-01-08 -2.673736 -0.778030 -0.756092  0.050116

In [16]:
df.sort_index(axis=1,ascending=True)

                   A         B         C         D
2013-01-01 -0.588072 -1.012973  0.984102  0.512248
2013-01-02  0.172907  0.332348  0.193680  0.049164
2013-01-03 -1.737992  1.507265  0.037792 -0.429306
2013-01-04  0.572943  0.704393 -0.028451  0.408363
2013-01-05 -0.653701  0.413298  0.958180  1.163793
2013-01-06  0.312688  0.072765  0.918173  0.860850
2013-01-07 -0.861207 -0.813468 -0.961191 -0.158179
2013-01-08 -2.673736 -0.778030 -0.756092  0.050116

In [17]:
df.T

,2013-01-01,2013-01-02,2013-01-03,2013-01-04,2013-01-05,2013-01-06,2013-01-07,2013-01-08
A,-0.588072,0.172907,-1.737992,0.572943,-0.653701,0.312688,-0.861207,-2.673736
B,-1.012973,0.332348,1.507265,0.704393,0.413298,0.072765,-0.813468,-0.778030
C,0.984102,0.193680,0.037792,-0.028451,0.958180,0.918173,-0.961191,-0.756092
D,0.512248,0.049164,-0.429306,0.408363,1.163793,0.860850,-0.158179,0.050116

In [19]:
df.rename(columns={})